.rounded_float-left {
    width: 150px;
    height: 170px;
}

.nombre {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 30px;
    height: 50px;
}